.Alert {
  line-height: 1.5;
  padding: 10px 20px;
  background-color: gray;
  color: #fff;
}

.Alert--error {
  composes: alert;
  background-color: red;
  padding: 10px 20px;
}

.Alert--warning {
  composes: alert;
  background-color: orange;
  padding: 10px 20px;
}

.Alert--success {
  composes: alert;
  background-color: green;
  padding: 10px 20px;
}
