.box.big {
  width: 200px;
  height: 200px;
  margin-bottom: 100px;
}

.box.red {
  background-color: teal;
}

.container {
  padding: 10px;
  display: block;
  text-align: center;
  border: 1px solid red;
  width: 300px;
  margin: auto;
}

.title {
  line-height: 1.3;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.option {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: 4px;
  border: none;
  outline: none;
  cursor: pointer;
}

.active {
  transform: scale(1.2);
}
